<app-navbar></app-navbar>
<div class="color bg " >
    <div class="  " >
        <div class="row "  style="width: 100%;" >

            <div class="col-md-4 col-lg-3 "  >
               <div class="" style=" position:sticky; top:55px">
                <app-profile></app-profile>
                <app-suggestion></app-suggestion>
            </div>
           
            </div>
            <div class="col-md-8 col-lg-6 " >
                <app-create-post></app-create-post>
                <app-all-post></app-all-post>
            </div>

            <div class="col d-sm-none d-md-none d-lg-block  "  >
                <div style=" position:sticky; top:55px; z-index: 8;"  >
                <app-followers></app-followers>
                <app-groups></app-groups>
                
            </div>
            </div>
        </div>
    </div>
</div>