li{
    padding: 3px;
    font-size: 14px ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.main{
    height:230px;
    background-color:#f3f2ef; 
    border-radius:10px;
    font-size: 16px;  
}
.secondary{
    box-shadow: 0 0 8px gainsboro;
    border-radius:3px;
}


