.main {
    background-color: #f3f2ef;
    border-radius: 10px;
    padding: 4px;
}
.post {
    background-color: #f3f2ef;
}
.bt {
    background-color: #f04f01;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    border: none;
    text-transform: uppercase;
    min-width: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.bt:hover {
    background: #ea5105;
}
