<div class=" p-3 pt-3 main" >
    <div class="  secondary">
        <div class="p-2 ">Groups</div>
        <div class="p-1 bg-white">
            <div class="d-flex justify-content-between">
                <ul class="bg-white " style=" width:100% ;">
                    <li *ngFor="let group of groups">{{group}} <div>
                            <img src={{url}} class="rounded-circle" height="28" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>